<div class="center">
  <h1>Вхід</h1>
  <form class="form">
    <div class="form-control">
      <input
        type="text"
        name="login"
        id="login"
        placeholder="Електрона адреса або номер телефону"
        [(ngModel)]="login"
      />
    </div>
    <div class="form-control">
      <input
        type="password"
        name="password"
        id="password"
        placeholder="Пароль"
        [(ngModel)]="password"
      />
    </div>
    <shop-button
      text="Увійти"
      color="#ffff00"
      (btnClick)="onSignIn()"
    ></shop-button>
  </form>
  <shop-button
    text="Зареєструватися"
    color="#0000ff"
    (btnClick)="onClickSignUp('/sign-up')"
  ></shop-button>
</div>
