header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: auto;
  margin: 15px auto;
  padding-left: 15px;
  border: 1px solid steelblue;
  border-radius: 5px;
  background-color: aquamarine;
}

img {
  max-width: 100px;
  max-height: 100px;
}

.btn-image {
  background-color: aquamarine;
  border: 0;
  cursor: pointer;
}

.btn-image:active {
  transform: scale(0.98);
}
