<header>
  <h1 id="main-page" routerLink="/">{{title}}</h1>
  <div>
    <shop-button
      *ngIf="!hasRoute('/categories') && !hasRoute('/sign-in') && !hasRoute('/sign-up')"
      text="Categories"
      routerLink="/categories"
    ></shop-button>
    <shop-button
      *ngIf="!hasRoute('/products') && !hasRoute('/sign-in') && !hasRoute('/sign-up')"
      text="Products"
      routerLink="/products"
    ></shop-button>
    <shop-button
      *ngIf="logged && !hasRoute('/profile') && !hasRoute('/sign-in') && !hasRoute('/sign-up')"
      text="Profile"
      routerLink="/profile"
    ></shop-button>
    <shop-button
      *ngIf="logged && !hasRoute('/cart') && !hasRoute('/sign-in') && !hasRoute('/sign-up')"
      text="Cart"
      routerLink="/cart"
    ></shop-button>
  </div>
  <div>
    <shop-button
      *ngIf="!logged && !hasRoute('/sign-in') && !hasRoute('/sign-up')"
      text="Sign In"
      routerLink="/sign-in"
    ></shop-button>
    <shop-button
      *ngIf="logged && !hasRoute('/sign-in') && !hasRoute('/sign-up')"
      text="Log Out"
      (click)="onToggleLogOut()"
    ></shop-button>
  </div>
</header>
