header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: auto;
  margin: 15px auto;
  padding-left: 15px;
  border: 1px solid steelblue;
  border-radius: 5px;
  background-color: aquamarine;
}

h1 {
  font-size: 50px;
  font-family: Serif, serif;
  padding: 10px;
  border: 0 solid red;
  border-radius: 10px;
  background-color: aqua;
}
