<header>
  <h1 id="main-page" routerLink="/">{{title}}</h1>
  <div>
    <shop-button
      *ngIf="!hasRoute('/categories') && !hasRoute('/login') && !hasRoute('/registration')"
      text="Categories"
      routerLink="/categories"
    ></shop-button>
    <shop-button
      *ngIf="!hasRoute('/products') && !hasRoute('/login') && !hasRoute('/registration')"
      text="Products"
      routerLink="/products"
    ></shop-button>
    <shop-button
      *ngIf="logged && !hasRoute('/profile') && !hasRoute('/login') && !hasRoute('/registration')"
      text="Profile"
      routerLink="/profile"
    ></shop-button>
  </div>
  <shop-button
    *ngIf="!logged && !hasRoute('/login') && !hasRoute('/registration')"
    text="Log In"
    routerLink="/login"
  ></shop-button>
  <shop-button
    *ngIf="logged && !hasRoute('/login') && !hasRoute('/registration')"
    text="Log Out"
    routerLink="/"
    (click)="onToggleLogOut()"
  ></shop-button>
</header>
