<h1>Категорії товарів</h1>
<h2 *ngIf="categories.length <= 0">Categories not Found</h2>
<div *ngIf="categories.length > 0">
  <shop-categories-sort
    [categories]="categories"
  ></shop-categories-sort>
  <hr/>
  <shop-category-list-item
    *ngFor="let category of categories"
    [category]="category"
  ></shop-category-list-item>
</div>
<div *ngIf="userRole === 'ROLE_ADMIN'">
  <hr/>
  <shop-button
    text="Додати категорію"
    color="#ff00ff"
    (btnClick)="onAddNewCategory()"
  ></shop-button>
  <shop-button
    text="Видалити категорію"
    color="#ff00ff"
    (btnClick)="onDeleteCategory()"
  ></shop-button>
</div>
