<div class="container">
  <h1>Registration</h1>
  <form class="form">
    <div class="form-control">
      <input
        type="text"
        name="first-name"
        id="first-name"
        placeholder="First Name"
      />
    </div>
    <div class="form-control">
      <input
        type="text"
        name="last-name"
        id="last-name"
        placeholder="Last Name"
      />
    </div>
    <div class="form-control">
      <input
        type="text"
        name="email"
        id="email"
        placeholder="Email"
      />
    </div>
    <div class="form-control">
      <input
        type="text"
        name="phone"
        id="phone"
        placeholder="Phone"
      />
    </div>
    <div class="form-control">
      <input
        type="password"
        name="password"
        id="password"
        placeholder="Password"
      />
    </div>
    <div class="form-control">
      <input
        type="password"
        name="confirm-password"
        id="confirm-password"
        placeholder="Confirm Password"
      />
    </div>
    <input type="submit" value="Registration" class="btn"/>
  </form>
  <shop-button
    text="Log In"
    routerLink="/login"
  ></shop-button>
</div>
