<div>
  <img [src]="imagePath" [alt]="product.name"/>
  <h3>Name: {{product.name}}</h3>
  <h4>Describe: {{product.describe}}</h4>
  <h4>Barcode: {{product.barcode}}</h4>
  <h4>Price: {{product.price}}</h4>
  <h4>{{product.inStock ? 'In Stock' : 'Out of Stock'}}</h4>
  <shop-button
    *ngIf="logged && isUser && product.inStock"
    text="Add to Cart"
    color="#00ffff"
    (btnClick)="onAddToCart()"
  ></shop-button>
</div>
<div *ngIf="logged && !isUser">
  <hr/>
  <shop-button
    text="Edit"
    color="#ff00ff"
    (btnClick)="onEdit()"
  ></shop-button>
</div>
