<div>
  <shop-image
    [imageBytes]="product.image"
    [alt]="product.name"
  ></shop-image>
  <h3>Назва: {{product.name}}</h3>
  <h4>Опис: {{product.describe}}</h4>
  <h4>Штрих-код: {{product.barcode}}</h4>
  <h4>Ціна: {{product.price}}</h4>
  <h4>{{product.inStock ? 'Є на складі' : 'Немає на складі'}}</h4>
  <shop-button
    *ngIf="logged && isUser && product.inStock"
    text="Додати до кошика"
    color="#00ffff"
    (btnClick)="onAddToCart()"
  ></shop-button>
</div>
<div *ngIf="logged && !isUser">
  <hr/>
  <shop-button
    text="Редагувати"
    color="#ff00ff"
    (btnClick)="onEdit()"
  ></shop-button>
</div>
