<div class="center">
  <h1>Додати товар</h1>
  <form class="form">
    <div class="form-control">
      <input
        type="text"
        name="product-name"
        id="product-name"
        placeholder="Назва"
        [(ngModel)]="productName"
      />
    </div>
    <div class="form-control">
      <input
        type="text"
        name="product-describe"
        id="product-describe"
        placeholder="Опис"
        [(ngModel)]="productDescribe"
      />
    </div>
    <div class="form-control">
      <input
        type="number"
        name="product-price"
        id="product-price"
        min="1"
        value="0"
        placeholder="Ціна"
        [(ngModel)]="productPrice"
      />
    </div>
    <div class="form-control">
      <input
        type="text"
        name="product-barcode"
        id="product-barcode"
        placeholder="Штрих-код"
        [(ngModel)]="productBarcode"
      />
    </div>
    <div class="form-control">
      <label for="product-category">Категорія:</label>
      <select
        name="product-category"
        id="product-category"
        [(ngModel)]="productCategory"
      >
        <option
          *ngFor="let category of categories"
          value="{{category.name}}"
        >
          {{category.name}}
        </option>
      </select>
    </div>
    <div class="form-control">
      <input
        type="file"
        name="product-image"
        id="product-image"
        (change)="onChangeFile($event)"
      >
    </div>
    <shop-button
      text="Додати"
      color="#ff00ff"
      (btnClick)="onAdd()"
    ></shop-button>
  </form>
  <shop-button
    text="Відмінити"
    color="#0000ff"
    (btnClick)="onCancel()"
  ></shop-button>
</div>
