<div class="center">
  <h1>Add New Number of Admin</h1>
  <form class="form">
    <div class="form-control">
      <input
        type="text"
        name="admin-number"
        id="admin-number"
        placeholder="Number of Admin"
        [(ngModel)]="adminNumber"
      />
    </div>
    <shop-button
      text="Add"
      color="#ff00ff"
      (btnClick)="onAdd()"
    ></shop-button>
  </form>
  <shop-button
    text="Cancel"
    color="#0000ff"
    (btnClick)="onCancel()"
  ></shop-button>
</div>
