<div>
  <h2 *ngIf="groupsOfProducts.length <= 0">Cart is Empty!</h2>
  <div *ngIf="groupsOfProducts.length > 0">
    <div
      class="product"
      *ngFor="let group of groupsOfProducts"
    >
      <h3>
        Product: {{group.product}}
        <fa-icon
          [icon]="faTimes"
          (click)="deleteProductFromCart(group.product)"
        ></fa-icon>
      </h3>
      <h2>Number: {{group.number}}</h2>
    </div>
    <hr/>
    <h3>Total Cost: {{cart.totalCost}}</h3>

    <shop-button
      *ngIf="!showPayment"
      text="Pay"
      color="#aaff11"
      (btnClick)="onPay()"
    ></shop-button>

    <shop-stripe-payment
      [amount]="cart.totalCost"
    ></shop-stripe-payment>
  </div>
</div>
