<div class="center">
  <h1>Реєстрація</h1>
  <form class="form">
    <div class="form-control">
      <input
        type="text"
        name="last-name"
        id="last-name"
        placeholder="Прізвище"
        [(ngModel)]="lastName"
      />
    </div>
    <div class="form-control">
      <input
        type="text"
        name="first-name"
        id="first-name"
        placeholder="Ім'я"
        [(ngModel)]="firstName"
      />
    </div>
    <div class="form-control">
      <input
        type="text"
        name="email"
        id="email"
        placeholder="Електронна адреса"
        [(ngModel)]="email"
      />
    </div>
    <div class="form-control">
      <input
        type="text"
        name="phone"
        id="phone"
        placeholder="Номер телефону"
        [(ngModel)]="phone"
      />
    </div>
    <div class="form-control">
      <input
        type="password"
        name="password"
        id="password"
        placeholder="Пароль"
        [(ngModel)]="password"
      />
    </div>
    <div class="form-control">
      <input
        type="password"
        name="confirm-password"
        id="confirm-password"
        placeholder="Підтвердження паролю"
        [(ngModel)]="confirmPassword"
      />
    </div>
    <div class="form-control">
      <label for="is-admin">Ви адмін?</label>
      <input
          type="checkbox"
          name="is-admin"
          id="is-admin"
          (click)="onChangeIsAdmin()"
        />
    </div>
    <div
      *ngIf="isAdmin"
      class="form-control"
    >
      <input
        type="text"
        name="admin-number"
        id="admin-number"
        placeholder="Номер адміна"
        [(ngModel)]="adminNumber"
      />
    </div>
    <shop-button
      text="Зареєструватися"
      color="#ffff00"
      (btnClick)="onSignUp()"
    ></shop-button>
  </form>
  <shop-button
    text="Увійти"
    color="#0000ff"
    (btnClick)="onClickSignIn('/sign-in')"
  ></shop-button>
</div>
