<div class="center">
  <h1>Sign Up</h1>
  <form class="form">
    <div class="form-control">
      <input
        type="text"
        name="first-name"
        id="first-name"
        placeholder="First Name"
        [(ngModel)]="firstName"
      />
    </div>
    <div class="form-control">
      <input
        type="text"
        name="last-name"
        id="last-name"
        placeholder="Last Name"
        [(ngModel)]="lastName"
      />
    </div>
    <div class="form-control">
      <input
        type="text"
        name="email"
        id="email"
        placeholder="Email"
        [(ngModel)]="email"
      />
    </div>
    <div class="form-control">
      <input
        type="text"
        name="phone"
        id="phone"
        placeholder="Phone"
        [(ngModel)]="phone"
      />
    </div>
    <div class="form-control">
      <input
        type="password"
        name="password"
        id="password"
        placeholder="Password"
        [(ngModel)]="password"
      />
    </div>
    <div class="form-control">
      <input
        type="password"
        name="confirm-password"
        id="confirm-password"
        placeholder="Confirm Password"
        [(ngModel)]="confirmPassword"
      />
    </div>
    <div class="form-control">
      <label for="is-admin">Is Admin?</label>
      <input
          type="checkbox"
          name="is-admin"
          id="is-admin"
          (click)="onChangeIsAdmin()"
        />
    </div>
    <shop-button
      text="Sign Up"
      color="#ffff00"
      (btnClick)="onSignUp()"
    ></shop-button>
  </form>
  <shop-button
    text="Sign In"
    color="#0000ff"
    (btnClick)="onClickSignIn('/sign-in')"
  ></shop-button>
</div>
