<div class="center">
  <form class="form">
    <div class="form-control">
      <input
        type="text"
        name="card-number"
        id="card-number"
        placeholder="Номер карти"
        [(ngModel)]="cardNumber"
      >
    </div>
    <div class="form-control">
      <input
        type="text"
        name="card-expiry"
        id="card-expiry"
        placeholder="ММ/РР"
        [(ngModel)]="cardExpiry"
      >
    </div>
    <div class="form-control">
      <input
        type="text"
        name="card-cvc"
        id="card-cvc"
        placeholder="CVC"
        [(ngModel)]="cardCvc"
      >
    </div>
    <shop-button
      text="Оплатити"
      color="#11ffaa"
      (btnClick)="onPay()"
    ></shop-button>
  </form>
</div>
