<div class="center">
  <h1>Видалити номер адміна</h1>
  <form class="form">
    <div class="form-control">
      <input
        type="text"
        name="admin-number"
        id="admin-number"
        placeholder="Номер адміна"
        [(ngModel)]="adminNumber"
      />
    </div>
    <shop-button
      text="Видалити"
      color="#ff00ff"
      (btnClick)="onDelete()"
    ></shop-button>
  </form>
  <shop-button
    text="Відмінити"
    color="#0000ff"
    (btnClick)="onCancel()"
  ></shop-button>
</div>
