.link {
  background: #d2d2d2;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.link h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inline {
  display: inline-block;
  margin: 5px;
  vertical-align: middle;
}
