<h1>Admin Panel</h1>
<hr/>
<div>
  <shop-button
    text="Delete User"
    color="#ff00ff"
    (btnClick)="onDeleteUser()"
  ></shop-button>
  <shop-button
    text="Add Admin Number"
    color="#ff00ff"
    (btnClick)="onAddAdminNumber()"
  ></shop-button>
  <shop-button
    text="Edit Admin Number"
    color="#ff00ff"
    (btnClick)="onEditAdminNumber()"
  ></shop-button>
  <shop-button
    text="Delete Admin Number"
    color="#ff00ff"
    (btnClick)="onDeleteAdminNumber()"
  ></shop-button>
</div>
